# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
venv/

# Environment variables
.env

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/

# Alembic cache
alembic/versions/__pycache__/
